header{
    padding: 12px 0;
    background-color: white;
}
.header-container{
    display: flex;
    justify-content: center;
}
.logo-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}
.text-employee{
    font:normal normal bold 20px/25px Montserrat;
    letter-spacing: 0px;
    color:#82a70c;
}
.text-payroll{
    font:normal normal bold 20px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
}





















/* 

.header{
    background-color: white;
    padding: 15px 0;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;  
}
.text-employee{
    letter-spacing: 0px;
    color:#82a70c;
    font-weight: bold;
}
.text-payroll{
    letter-spacing: 0px;
    color: #42515F;
    font-weight:bold;
}
 */
